.inner-container{
    gap: 1.5rem;
    background: linear-gradient(97.05deg, #f3f3f3 5%, #928dab 100%);
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid linear-gradient(97.05deg, #cccbce 5%, #928dab 100%);
    text-align: center;
}

.inner-container .primaryText{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgb(20, 20, 20);
}
.inner-container .button {
    background: #16171d;
    border: 2px solid linear-gradient(97.05deg, #1f1c2c 5%, #928dab 100%);
    box-shadow: var(--shadow);
    border-radius: 10px;
}